:root {
	--primary: green;
}

.hero {
	background-color: darkorange;
	background: linear-gradient(90deg, darkorange 0%, darkorchid 100%);
}

.destructive {
	background-color: red;
	border-color: red;
}

nav > details > ul {
	color: white;
}

h1 > a {
	text-decoration: none;
	color: white;
}

hgroup > h2 {
	color: white;
}
