:root {
	--font-family: 'Noto Sans', sans-serif;
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
	background-color: transparent;
	color: var(--contrast-hover);
}

header hgroup> h1> a {
	background-color: transparent;
	text-decoration: none;
}

header :last-child {
	padding-bottom: 1rem;
}

header hgroup> :last-child {
	color: var(--h3-color);
}

.hero {
	background-color: darkorange;
	background: linear-gradient(90deg, darkorange 0%, darkorchid 100%);
}

.destructive {
	background-color: red;
	border-color: red;
}

/* Orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fb8c00;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #FFF;
}

/* Orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #fb8c00;
    --primary-hover: #ff9800;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #fb8c00;
  --primary-hover: #ff9800;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #FFF;
}

/* Orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
